@font-face {
    font-family: 'Tungsten';
    src: url(./font/tungsten-bold.ttf);
}
@font-face {
    font-family: 'DIN Light';
    src: url(./font/din-light.otf);
}
@font-face {
    font-family: 'DIN Regular';
    src: url(./font/din-regular.otf);
}
@font-face {
    font-family: 'DIN Medium';
    src: url(./font/din-medium.otf);
}

.tung {
	font-family: 'Tungsten';
}
.din0 {
	font-family: 'DIN Light';
}
.din1 {
	font-family: 'DIN Regular';
}
.din2 {
	font-family: 'DIN Medium';
}

.logo_s {
    width: 30px;
    height: 30px;
	background-color: gray;
}

h1 {
	margin-block-end: 0.9em;
	margin-block-end: 0.2em;
}

.diamond {
	opacity: 0;
	content: url(./img/d0.png);
}
.diamond[fill] {
	opacity: 0;
	content: url(./img/d1.png);
}